/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: serif;
  line-height: 1.5;
  font-size: 16pt;
}

h1 {
  font-family: sans-serif;
}

a {
  font-family: sans-serif;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid red;
}

a::after {
  content: " 🔗";
}

p {
  padding: 0px 40px 0px 10px;
  max-width: 540px;
}

/* images and videos max out at full width */
img,
video, iframe {
  height: auto;
  max-width: 100%;
}

audio {
  width: 90%;
  max-width: 480px;
}

#container {
  /*   display: grid;
  justify-content: center; */
}

#top {
  display: grid;
  justify-content: center;
}

#main {
  display: grid;
  grid-template-columns: 50% 50%;
}

.full {
  height: 70vh;
}

.complaint {
  position: absolute;
  top: 10vh;
  left: 5%;
  z-index: 99;
  width: 45%;
}

.complaint p {
  max-width: 90%;
}

.text {
  align-self: center;
  border-top: 2px solid black;
  border-bottom: none;
  border-left: 2px dotted lightgray;
  margin-bottom: 40px;
  padding: 0px 20px;
}

.icon {
  max-height: 90vh;
  margin: 40px;
  max-width: 80%;
  /*   box-shadow: 10px 10px 40px black; */
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
  filter: drop-shadow(5px 5px 5px #666666);
  justify-self: center;
  align-self: center;
}

@media all and (max-width: 800px) {
  .complaint {
    position: relative;
    top: -5vh;
    left: 5%;
    z-index: 99;
    width: 100%;
  }

  #main {
    grid-template-columns: 100%;
  }

  .text {
    border-bottom: 2px solid black;
    border-top: none;
  }

  p {
    padding: 0px;
  }
}
